<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${channel}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../css/pay/payment.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<style>
    body {
        margin: 0;
        height: 100%;
        background: #f7f7f7;
    }
    .content {
        width: 800px;
        height: 100px;
        margin: 0 auto;
        background: white;
        border: 1px solid #ececec;
        text-align:center;
        line-height:100px;
        color: red;
    }
</style>

<body>

<main>
    <div class="title">
        <div class="titleContainer">
            租赁平台支付云服务
        </div>

    </div>

    <div class="content">
        ${errMsg}
    </div>
</main>

</body>

</html>